<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Personal Book Library</title>
    <link rel="stylesheet" href="/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Agu+Display&family=Italiana&display=swap" rel="stylesheet">
</head>

<style>
    h1 {
        font-size: 60px;
        color: lightpink;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }


    html {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        color:cornflowerblue;
        font-size: 30px;   
        background-image: url('https://i.pinimg.com/736x/3b/c6/ab/3bc6ab91240a70d2a93cd331833d5e66.jpg');
        background-size: auto 100vh;
    }
    
    h2{
        color:antiquewhite;
        display: block;
        margin-left: 10vw;
        margin-right: auto;
    }

    button{
        padding: 5px;
        background-color: lightblue;
        color: darkblue;
        border: 3px darkblue dotted;
        font-family: "Italiana";
        border-radius: 20px;
        font-size: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    fieldset{
        background-color: antiquewhite;
        border: 50px;
        border-radius: 20px;
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        border: none;
    }

    input {
        margin-left: 20px;
        width: 50vw;
        height: 40px;
        font-size: 30px;
        border-radius: 20px;
        border-color: white;
        font-family: "Italiana";
    }

</style>

<body>
    <h1>Welcome to your Personal Library</h1>
	<h2>Search for a Book:</h2>
    <form id="bookForm" action="/bookDisplay" method="post">
        <fieldset> 
            <br> 
            <label><strong>Book Title: </strong><input type="text" name="title"/></label> 
            <br><br>
            <label><strong>Book Author: </strong><input type="name" name="author"></label>
            <br><br> 
        </fieldset> 

            <br>
            <button type="submit">Search for Book</button> 
            <br>
            <div id="display"></div>
    </form> 

    <a href="/wishList">
        <button>View Wishlist</button>
    </a>

</body>


</html>
