<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Personal Book Library</title>
</head>

<body>
    <h1>Welcome to your Personal Library</h1>
	<h2>Search for Book:</h2>
    <form id="bookForm" action="/bookDisplay" method="post">
        <fieldset> 
            <label><strong>Book Title: </strong><input type="text" name="title"/></label> 
            <label><strong>Book Author: </strong><input type="text" name="author"></label><br><br> 
        </fieldset> 

            <br> 
            <input type="reset" /> 
            <button type="submit">Search for Book</button> 
    </form> 
    <hr>
    <p>To view saved books select <a href="/wishList">Wish List</a><br></p>
    <hr>
</body>

</html>