h1 {
    font-size: 60px;
    color: lightpink;
}


html {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:cornflowerblue;
    font-size: 30px;   
}
  
h2{
    color:antiquewhite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flores{
    background-image: url('https://i.pinimg.com/736x/3b/c6/ab/3bc6ab91240a70d2a93cd331833d5e66.jpg');
    background-size: auto 100vh;
}

.gatita{
    background-image: url('https://i.pinimg.com/736x/cf/11/f3/cf11f3f39f7b8f19b94e82c2472062f8.jpg');
    background-size: 50vw 100vh;
    margin-left: 5vw;
}

button{
    padding: 5px;
    background-color: lightblue;
    color: darkblue;
    border: 3px darkblue dotted;
    font-family: "Italiana";
    border-radius: 20px;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset{
    background-color: antiquewhite;
    border: 50px dotted black;
    border-radius: 20px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
}

input {
    margin-left: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
}

a {
    padding: 5px;
    background-color: lightpink;
    color: darkred;
    border: 2px darkred dotted;
    font-family: "Italiana";
    border-radius: 20px;
    font-size: 30px;
}

.gatitaP {
    font-size: 40px;
    color: darkred;
}