<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Book Display</title>
    <link rel="stylesheet" href="/templates/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Agu+Display&family=Italiana&display=swap" rel="stylesheet">
</head>

<body class="italiana-regular">
    <h1>Book Wishlist</h1>
    <table>
         <!-- for each book: -->
        <th><td>Title</td>
            <td>Author</td>
            <td>Average Rating</td>
            <td>Number of Ratings</td>
            <td>Cover</td>
        </th>
    </table>
    
    <hr>
    <hr>
</body>

</html>
