<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Book Display</title>
    <link rel="stylesheet" href="/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Agu+Display&family=Italiana&display=swap" rel="stylesheet">

    <!-- Favicon information -->
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
</head>
<style>
    h1 {
        font-size: 60px;
        color: lightpink;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }


    html {
        background-image: url('    https://i.pinimg.com/736x/40/14/0c/40140c4e7ee2d566a5f4bebf7e18c4d3.jpg');
        background-size: auto 100vh;
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        color:cornflowerblue;
        font-size: 30px;   
    }
    
    h2{
        color:antiquewhite;
        display: block;
        margin-left: 10vw;
        margin-right: auto;
    }


    .gatita{
        background-image: url('https://i.pinimg.com/736x/cf/11/f3/cf11f3f39f7b8f19b94e82c2472062f8.jpg');
        background-size: 50vw 100vh;
        margin-left: 5vw;
    }

    button{
        padding: 5px;
        background-color: lightblue;
        color: darkblue;
        border: 3px darkblue dotted;
        font-family: "Italiana";
        border-radius: 20px;
        font-size: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    fieldset{
        background-color: antiquewhite;
        border: 50px;
        border-radius: 20px;
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        border: none;
    }

    input {
        margin-left: 20px;
        width: 50vw;
        height: 40px;
        font-size: 30px;
        border-radius: 20px;
        border-color: white;
        font-family: "Italiana";
    }

    a {
        padding: 5px;
        background-color: lightpink;
        color: darkred;
        border: 2px darkred dotted;
        font-family: "Italiana";
        border-radius: 20px;
        font-size: 30px;
        margin: 10px;
    }

    .gatitaP {
        font-size: 40px;
        color: darkred;
    }

    .gatitaH {
        text-align: left;
    }
</style>

<body>
    <h1>Book Wishlist</h1>

    <div>
        <%- bookList %>
    </div>

    <hr>
    <a href="/">Go Back to Home</a>
    <form action="/clearWishlist" method="POST">
        <button type="submit">Clear Wishlist</button>
    </form>

    <script>
        const form = document.querySelector("form");

        form.addEventListener("submit", function (event) {
            const confirmAdd = window.confirm(
                "Are you sure you want clear your Wish List?"
            );

            if (!confirmAdd) {
                event.preventDefault();
            }
        });
    </script>
</body>

</html>
